%script
  = jquery_date_field('expense_expense_date')
  = jquery_validate_expense

= form_for @expense, :remote => true do |f|
  .expense{:style => "margin:0px;"}
    .ex_cat.labl
      Category
    .ex_date.labl
      Date
    .ex_amount.labl
      Amount
    .ex_desc.labl
      Descriptioon
  .clear
  .expense{:style => "margin:0px;"}
    .ex_cat
      = f.select :category_id, Category.all.collect{|c| [c.name, c.id]}
    .ex_date
      = f.text_field :expense_date
    .ex_amount
      = f.text_field :amount
    .ex_desc
      = f.text_field :description

  = f.submit "Save"
.clear

